.footer,
.footer-btm {
    background-color: #198754;
    display: fixed;
    bottom: 0;
}
.footer__outer{
    display: flex;
    justify-content: space-between;
    padding: 4% 8%;
}
.footer-item h4{
    border-bottom: 2px solid rgb(18, 190, 27);
    display: inline-block;
    padding-bottom: 5%;
    margin-bottom: 3%;
}
.social-links{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}
.social-links a,
.cs-url{
    text-decoration: none;
    display: inline-block;
    color: black;
    margin-bottom: 8px;
    transition: all 0.2s ease;
}
.cs-url:hover{
    color: rgb(25, 245, 62);
    text-decoration: underline;
}
.social-links a:hover
{
    text-decoration: underline;
    margin-left: 5%;
    color: rgb(25, 245, 62);
}
.social-links a:hover .icon{
    color: rgb(25, 245, 62);
}
.social-links link span i{
    font-size: 2.2rem;
}
.cs-color{
    color: #000;
}
.icon{
    font-size: 1.2rem;
    color: #000;
}
.cs-hr{
    color: greenyellow;
}
.footer-btm{
    display: flex;
    justify-content: space-around;
}
.footer-btm p{
    color: #000;
    margin: 3% 0;
}
.cs-urls{
    text-decoration: none;
    color: rgb(25, 245, 62);
}
.cs-urls:hover{
    color: blue;
    text-decoration: underline;
}